




@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Gugi&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&display=swap');



:root {
    --white: white;
    --green: green;
    --lightGreen: lightgreen;
    --lightGrey:lightgrey;
    --skyBlue: skyblue;
    --dodgerBlue: dodgerBlue;
    --black:black;
    --grey: gray;
    --fontSize: 1rem;
    --fontSizeTwo: 1.5rem;
    --doubleFontSize: 2rem;
    --fontFamily: 'Arial';
    --whitesmoke: whitesmoke

}





* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow-x: hidden;
}


body {
    height: auto;
    margin:0;
}










/*------------------------HEADER---------------------------*/



.top-content {
    position: relative;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fontSizeTwo);
}


.top-content img {
    object-fit: contain;
    height: 50px;
    margin:0px 15px
}


.top-content h1 {
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 400;
    font-style: normal;
}







/*------------------------------NAVBAR------------------------------------*/

.content-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
 
}


.content-nav button {
    border:none;
    outline:none;
    background: none;
    font-size: var(--fontSizeTwo);
    cursor: pointer;
    
}

.content-nav img {
    width: 38px;
    height: 30px;
    object-fit: contain;
    
}



.home-btn:not(.stock-btn, .crypto-btn, .fund-btn, .forex-btn) {
    border-bottom: 3px solid green;
    transition: 0.3s linear;
    color:var(--black);
}






.stock-btn:hover {
    border-bottom: 3px solid green;
    transition: 0.5s linear;
    color:var(--black)
}


.crypto-btn:hover {
    border-bottom: 3px solid green;
    transition: 0.5s linear;
    color:var(--black)
}



.fund-btn:hover {
    border-bottom: 3px solid green;
    transition: 0.5s linear;
    color:var(--black)
}

.forex-btn:hover {
    border-bottom: 3px solid green;
    transition: 0.5s linear;
    color:var(--black)
}







/*----------------------------------------CONTENT-------------------------------------------*/


.Grid-Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px;
    gap:3px;
    text-align: center;
    align-content: center;
    justify-content: space-evenly;
    margin-block: 90px;
    transition: 3s ease-in-out;
}


.Grid-Container img {
    object-fit: cover;
    background:none;
    border:none;
    outline:none;
}


.Grid-Container .content {
    animation-name: contentOne;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}   

@keyframes contentOne {
    

}



.Grid-Container .content-two {
    animation-name: contentTwo;
    animation-duration: 3s;
    animation-delay:1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out
}   


@keyframes contentTwo {
    
}


.Grid-Container .content-three {
    animation-name: contentThree;
    animation-delay:1.5s;
    animation-duration:3s;
    animation-direction:alternate;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
}   

@keyframes contentThree {
}







.Grid-Image {
    display: grid;
    align-content:center;
    justify-content: center;
    height: 490px;
    overflow: hidden;
    transition: 3s ease-in-out;
}









.Grid-Container-Two {
    display: grid;
    align-content:center;
    justify-content: center;
    text-align: center;
    padding:70px 90px;
    transition: 3s ease-in-out;
 
}


.Grid-Container-Two h3 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    color:var(--black);
    font-size: 3rem;
}


.Grid-Container-Two h4 {
    padding:30px 10px;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem
}


.Grid-Container-two .gc-content {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    
}












.Grid-Container-Three {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    height: 30vh;
}








/*---------------------------------------FOOTER-------------------------------------------*/


    footer {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items:center;
        justify-content: center;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: var(--lightGrey);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }









    .Footer-Container h1 {
        font-family: "Aref Ruqaa Ink", serif;
        font-weight: 400;
        font-style: normal;
    }




    .Footer-Container h3 {
        font-family: "Aref Ruqaa Ink", serif;
        font-weight: 400;
        font-style: normal;
    }


    .Footer-Container address {
        margin:10px;
    }


    .Footer-Container p {
        font-family: "Aref Ruqaa Ink", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.2rem;
    }


    .copyright {
        display: flex;
        align-items:center;
        justify-content: center;
    }


    .Footer-Container .copyright p {
        font-size: 0.9rem;
    }

    .Footer-Container .copyright span {
        font-size: 1rem;
    }










    

/*--------------------------MOBILE SCREEN LAYOUT ----------------------*/
    @media screen and (min-width: 320px) and (max-width: 480px) {
        
    .top-content {
        font-size: 0.8rem;
    }   

    .top-content img {
         object-fit: contain;
        height: 30px;
        margin:0px 7px;
    }


    .content-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        gap:23px;
        margin-block: 30px;
     
    }

    .content-nav button {
        border:none;
        outline:none;
        background: none;
        font-size: 1.3rem;
        cursor: pointer;
        
    }


    
    .content-nav img {
        width: 13px;
        height: 19px;
        object-fit: contain;
        
    }


    .content-nav  button.home-btn {
        background-color:white;
        color:darkgreen;
    }


    .content-nav button.stock-btn:focus,
    .content-nav button.crypto-btn:focus ,
    .content-nav button.fund-btn:focus,
    .content-nav button.forex-btn:focus {
        background-color:white;
        color:darkgreen;
    }
 


    .Grid-Container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90px;
        gap:100px;
        text-align: center;
        align-content: center;
        margin-block: 90px;
    }
    
    
    .Grid-Container img {
        object-fit: contain;
        background:none;
        height: 80px;
        width: 110px;
        
    }


    .Grid-Container .content {
        animation-name: mobileContent;
        animation-iteration-count:infinite;
        animation-timing-function:ease-in-out;
        animation-duration: 1s;
        animation-direction:alternate
    }


    
        @keyframes mobileContent {
            from{transform: rotateY(0deg);}
            to {transform: rotateY(180deg);}
        }
    
    
        .Grid-Container .content-two {
            animation-name: mobileContentTwo;
            animation-iteration-count:infinite;
            animation-timing-function:ease-in-out;
            animation-duration: 0.9s;
            animation-direction:alternate
        }
    
    
        @keyframes mobileContentTwo {
            from {transform: rotateX(0deg)};
            to {transform: rotateX(180deg);}
        }
    
    
    
    
        .Grid-Container .content-three {
            animation-name: mobileContentThree;
            animation-iteration-count:infinite;
            animation-timing-function:ease-in-out;
            animation-duration: 0.9s;
            animation-direction:alternate
        }
        
    
        @keyframes mobileContentThree {
            from {transform: rotateX(0deg)};
            to {transform: rotateX(180deg);}
        }


    



    .Grid-Image {
        display: grid;
        align-content:center;
        overflow: hidden;
        transition: 3s ease-in-out;
    }

    .Grid-Image img {
        width:150px
    }


    .Grid-Container-Two {
        display: grid;
        align-content:center;
        text-align: center;
        padding:10px 90px;
        transition: 3s ease-in-out;
     
    }
    
    
    .Grid-Container-Two h3 {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal;
        color:var(--black);
        font-size: 1.5rem;
    }

    .Grid-Container-Two h4 {
        font-size: 1.2rem;
    }



    .Grid-Container-Two .gc-content {
        font-family: 'Times New Roman', Times, serif;
    }


    .Footer-Container {
        background-color:white;
        width: 100%;
    }


    .Footer-Container h1 {
        font-size: 1.3rem;
    }

    .Footer-Container img {
        height:50px;
    }

    .Footer-Container h3 {
        font-size: 0.9rem;
    }
    

    .Footer-Container address {
        font-size: 0.9rem;
    }

    .Footer-Container .footer-text {
        font-size: 0.7rem;
    }

    .Footer-Container .copyright {
        color:black
    }




    
    

    



    }

