



@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Gugi&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');







:root {
    --white: white;
    --green: green;
    --lightGreen: lightgreen;
    --lightGrey:lightgrey;
    --skyBlue: skyblue;
    --dodgerBlue: dodgerBlue;
    --black:black;
    --grey: gray;
    --fontSize: 1rem;
    --fontSizeTwo: 1.5rem;
    --doubleFontSize: 2rem;
    --fontFamily: 'Arial';
    --whitesmoke: whitesmoke

}






* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow-x: hidden;
}





body {
    height: auto;
    margin:0;
    overflow-x: hidden;

}








/*-----------------------------------HEADER----------------------------------------*/


.top-content {
    position: relative;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fontSizeTwo);
}


.top-content img {
    object-fit: contain;
    height: 50px;
    margin:0px 15px
}


.top-content h1 {
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 400;
    font-style: normal;
}








/*--------------------------------------NAVBAR--------------------------------------------------*/

.content-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
 
    
}






.content-nav button {
    border:none;
    outline:none;
    background: none;
    font-size: var(--fontSizeTwo);
    cursor: pointer;
    
}

.content-nav img {
    width: 38px;
    height: 30px;
    object-fit: contain;
    
}



.home-btn:hover {
    border-bottom: 3px solid green;
    transition: 0.3s linear;
    color:var(--black);
}






.stock-btn:not(.home-btn, .crypto-btn, .fund-btn, .forex-btn) {
    border-bottom: 3px solid green;
    color:var(--black)
}


.crypto-btn:hover {
    border-bottom: 3px solid green;
    transition: 0.5s linear;
    color:var(--black)
}



.fund-btn:hover {
    border-bottom: 3px solid green;
    transition: 0.5s linear;
    color:var(--black)
}

.forex-btn:hover {
    border-bottom: 3px solid green;
    transition: 0.5s linear;
    color:var(--black)
}










/*-------------------------------APPLE CONTENT------------------------------------------------*/


.Grid-Container {
    display: grid;
    align-content: start;
    justify-content:start;
    width: 100%;
    height: 280px;
    background-color: var(--black);
    margin-block: 10px;
    overflow: hidden;

}


.Grid-Container img {
    margin-top: 40px;
    margin-left: 50px;
    max-width: 120px;
    background: none;
    overflow: hidden;
}

.Grid-Container div {
    color:var(--white)
}



.stock-name {
    margin-top: -110px;
    margin-left: 210px;
    color:var(--white);
    font-weight: bold;
}


.stock-name-text {
    font-size: 2rem;
    color:var(--white);
    font-weight: bold;
    text-decoration: none;
}


.stock-symbol-wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    margin-top: -60px;
    margin-left: 205px;
    border: 1px solid lightgrey;
    border-radius: 7px;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    max-width: 260px;
}


.stock-symbol-wrapper p {
    margin:0px 7px;
    text-align: center;
   
}

.text-border {
    color:lightgrey;
    height: 13px;
    width: 3px;
    border:2px solid lightgrey
}


.stock-price {
    display: flex;
    align-items:center;
    justify-content: center;
    gap:10px;
    margin-top: 0px;
    margin-left: 200px;
}


.stock-price-text {
    color:var(--white);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
  
}




.stock-price-currency {
    color:whitesmoke;
    font-weight: none;
    font-family: Arial, Helvetica, sans-serif;
  
}



.stock-range {
   position: absolute;
   top:290px;
   left: 350px;
   font-size: 1.2rem;
}



.stock-range-text {
    color:lightgreen;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    
}



.Grid-Container-Content {
    background-color: whitesmoke;
    overflow: hidden;
    height: 420px;
    border-radius:10px;
    max-width: 80%;
}

.Grid-Container-Content .about-header {
    margin-top: 30px;
    margin-left: 30px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 1.5rem;
}

.grid-content-wrapper {
    display: grid;
    grid-template-columns: 145px 145px 145px 145px 145px;
    max-width: 900px;
    align-content:center;
    justify-content: space-evenly;
    margin-block: 30px;
    margin-left: 20px;
}


.grid-content-wrapper .ceo,
.grid-content-wrapper .sector,
.grid-content-wrapper .industry,
.grid-content-wrapper .website,
.grid-content-wrapper .exchange{
    font-weight: 500;
    color:black;
    font-weight: bold;
}


.grid-content-wrapper .ceo-text,
.grid-content-wrapper .sector-text,
.grid-content-wrapper .industry-text,
.grid-content-wrapper .website-text,
.grid-content-wrapper .exchange-text{
    font-weight: 500;
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 400;
    font-style: normal;
    
}

.description:not(.description-text) {
    color:var(--black);
    font-weight: bold;
    margin-left: 18px;
    
}

p.description-text  {
    max-width: 850px;
    font-size: 0.9rem;
    font-family: 'Times New Roman', Times, serif;
    color:slategray
    
}








.Right-Side-Wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content:center;
    justify-content: center;
    gap:10px;
    height: 200px;
    max-width: 390px;
    margin-left: 900px;
    margin-top: -335px;
    overflow: hidden;
    
}



.Right-Side-Wrapper .CIK,
.Right-Side-Wrapper .ISIN,
.Right-Side-Wrapper .CUSIP,
.Right-Side-Wrapper .Address,
.Right-Side-Wrapper .Phone,
.Right-Side-Wrapper .Country,
.Right-Side-Wrapper .Employee,
.Right-Side-Wrapper .IPO-DATE 
{
    color:var(--black);
    font-weight: bold;
}



.Right-Side-Wrapper p {
    color:slategray;
    font-weight: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}




.Apple-News-Container {
    width: 20%;
    overflow: hidden;
    margin:0 auto;
}


.Apple-News-Wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content:center;
    justify-content: center;
    gap:15px;
    position: absolute;
    top:420px;
    right:30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:green;
    text-align: center;
    animation-name: appleNews;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


@keyframes appleNews {
    from {top:420px}
    to {top: 440px}
}


.Apple-News-Wrapper > div {
    text-align: right;
    background-color:whitesmoke;
    border-radius:10px;
    height: 110px;
    font-size: 0.89rem;
    font-family: Arial, Helvetica, sans-serif;
    color:black
}

.apple-news-section {
    width: 245px;
}

.apple-news-section .apple-title {
    font-size: 0.8rem;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    text-align: center;
    color:dodgerblue;
    text-decoration: underline;
}
.apple-news-section .apple-title-two {
    font-size: 0.7rem;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    text-align: center;
    color:dodgerblue;
    text-decoration: underline;
}


.apple-news-section .apple-title-three {
    font-size: 0.8rem;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    text-align: center;
    color:dodgerblue;
    text-decoration: underline;
    
    
}





.apple-news-section .apple-news-link {
    margin-top:-90px;
    margin-left: 110px;
    text-align: center;
    font-size: 0.8rem;
    font-family: "Aref Ruqaa Ink", serif;
    color:var(--grey);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.apple-news-section  .apple-news-link-two {
    margin-top:90px;
    margin-left: 110px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Aref Ruqaa Ink", serif;
    color:var(--grey);
    text-decoration: none;
    cursor: pointer;
}

.apple-news-section  .apple-news-link-three {
    margin-top:110px;
    margin-left: 110px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Aref Ruqaa Ink", serif;
    color:var(--grey);
    text-decoration: none;
    cursor: pointer;
}



.apple-site-name {
    text-align: center;
    margin-top: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color:purple;
    font-weight: bold;
}


.apple-site-name-two {
    text-align: center;
    margin-top: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color:coral;
    font-weight: bold;
}


.apple-site-name-three {
    text-align: center;
    margin-top: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color:skyblue;
    font-weight: bold;
    cursor:none;
}



















/*----------------------------------------AMAZON CONTENT----------------------------------------------------------------*/

.Grid-Container-Two {
    display: grid;
    align-content: start;
    justify-content:start;
    width: 100%;
    height: 280px;
    background-color: var(--black);
    margin-block: 45px;
    overflow: hidden;
}



.Grid-Container-Two img {
    margin-top: 40px;
    margin-left: 50px;
    max-width: 120px;
    background: none;
    overflow: hidden;
}


.Grid-Container-Two div {
    color:var(--white)
}



.Grid-Container-Two .amazon-image img {
    margin-top: 60px;
    margin-left: 50px;
    max-width: 300px;
    background: none;
    overflow: hidden;
}


.amazon-name {
    margin-top: -110px;
    margin-left: 210px;
    color:var(--white);
    font-weight: bold;
}

.amazon-name h3 {
    font-size: 2rem;
}

.amazon-symbol-wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    margin-top: -60px;
    margin-left: 205px;
    border: 1px solid lightgrey;
    border-radius: 7px;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    max-width: 160px;
}


.amazon-symbol-wrapper p {
    margin:0px 7px;
    text-align: center;
}


.amazon-text-border {
    color:lightgrey;
    height: 13px;
    width: 3px;
    border:2px solid lightgrey
}


.amazon-stock-price {
    display: flex;
    align-items:center;
    justify-content: center;
    gap:10px;
    margin-top: 0px;
    margin-left: 70px;
}




.amazon-stock-price-text {
    color:var(--white);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
  
}




.amazon-stock-price-currency {
    color:whitesmoke;
    font-weight: none;
    font-family: Arial, Helvetica, sans-serif;
  
}




.amazon-stock-range
 {
    position: absolute;
    top:1075px;
    left: 325px;
    font-size: 1.2rem;
 }
 
 
 
 .amazon-stock-range-text {
     color:lightgreen;
     font-weight: 500;
     font-family: Arial, Helvetica, sans-serif;
     
 }







.Amazon-Grid-Container-Content {
    background-color: whitesmoke;
    overflow: hidden;
    height: 420px;
    border-radius:10px;
    max-width: 80%;
}



.Amazon-Grid-Container-Content .amazon-about-header {
    margin-top: 30px;
    margin-left: 30px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 1.5rem;
}



.amazon-grid-content-wrapper {
    display: grid;
    grid-template-columns: 145px 145px 145px 145px 145px;
    max-width: 900px;
    align-content:center;
    justify-content: space-evenly;
    margin-block: 30px;
    margin-left: 20px;
}





.amazon-grid-content-wrapper .amazon-ceo,
.amazon-grid-content-wrapper .amazon-sector,
.amazon-grid-content-wrapper .amazon-industry,
.amazon-grid-content-wrapper .amazon-website,
.amazon-grid-content-wrapper .amazon-exchange{
    font-weight: 500;
    color:black;
    font-weight: bold;
}




.amazon-grid-content-wrapper .amazon-ceo-text,
.amazon-grid-content-wrapper .amazon-sector-text,
.amazon-grid-content-wrapper .amazon-industry-text,
.amazon-grid-content-wrapper .amazon-website-text,
.amazon-grid-content-wrapper .amazon-exchange-text{
    font-weight: 500;
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 400;
    font-style: normal;
    
}



.amazon-description:not(.amazon-description-text) {
    color:var(--black);
    font-weight: bold;
    margin-left: 18px;
    
}



p.amazon-description-text  {
    max-width: 850px;
    font-size: 0.9rem;
    font-family: 'Times New Roman', Times, serif;
    color:slategray
    
}



.Amazon-Right-Side-Wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content:center;
    justify-content: center;
    gap:10px;
    height: 200px;
    max-width: 390px;
    margin-left: 900px;
    margin-top: -300px;
    overflow: hidden;
    
}




.Amazon-Right-Side-Wrapper .Amazon-CIK,
.Amazon-Right-Side-Wrapper .Amazon-ISIN,
.Amazon-Right-Side-Wrapper .Amazon-CUSIP,
.Amazon-Right-Side-Wrapper .Amazon-Address,
.Amazon-Right-Side-Wrapper .Amazon-Phone,
.Amazon-Right-Side-Wrapper .Amazon-Country,
.Amazon-Right-Side-Wrapper .Amazon-Employee,
.Amazon-Right-Side-Wrapper .Amazon-IPO-DATE 
{
    color:var(--black);
    font-weight: bold;
}



.Amazon-Right-Side-Wrapper p {
    color:slategray;
    font-weight: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}




.Amazon-News-Container {
    width: 20%;
    overflow: hidden;
    margin:0 auto;
}


.Amazon-News-Wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content:center;
    justify-content: center;
    gap:15px;
    position: absolute;
    top:1200px;
    right:30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:coral;
    text-align: center;
    animation-name: amazonNews;
    animation-duration: 1.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}


@keyframes amazonNews {
    from {top: 1200px}
    to {top: 1220px}
}




.Amazon-News-Wrapper > div {
    text-align: right;
    background-color:whitesmoke;
    border-radius:10px;
    height: 110px;
    font-size: 0.89rem;
    font-family: Arial, Helvetica, sans-serif;
    color:black
}

.amazon-news-section {
    width: 245px;
}

.amazon-news-section .amazon-title {
    font-size: 0.8rem;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    text-align: center;
    color:dodgerblue;
    text-decoration: underline;
}

.amazon-news-section .amazon-title-two {
    font-size: 0.7rem;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    text-align: center;
    color:dodgerblue;
    text-decoration: underline;
}


.amazon-news-section .amazon-title-three {
    font-size: 0.8rem;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    text-align: center;
    color:dodgerblue;
    text-decoration: underline;
    
    
}





.amazon-news-section .amazon-news-link {
    margin-top:-90px;
    margin-left: 110px;
    text-align: center;
    font-size: 0.8rem;
    font-family: "Aref Ruqaa Ink", serif;
    color:var(--grey);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.amazon-news-section  .amazon-news-link-two {
    margin-top:90px;
    margin-left: 110px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Aref Ruqaa Ink", serif;
    color:var(--grey);
    text-decoration: none;
    cursor: pointer;
}

.amazon-news-section  .amazon-news-link-three {
    margin-top:110px;
    margin-left: 110px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Aref Ruqaa Ink", serif;
    color:var(--grey);
    text-decoration: none;
    cursor: pointer;
}



.amazon-site-name {
    text-align: center;
    margin-top: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color:purple;
    font-weight: bold;
}


.amazon-site-name-two {
    text-align: center;
    margin-top: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color:coral;
    font-weight: bold;
}


.amazon-site-name-three {
    text-align: center;
    margin-top: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color:skyblue;
    font-weight: bold;
    cursor:none;
}












/*----------------------------------------GOOGLE CONTENT--------------------------------------------------------*/



.Grid-Container-Three {
    display: grid;
    align-content: start;
    justify-content:start;
    width: 100%;
    height: 280px;
    background-color: var(--black);
    margin-block: 45px;
    overflow: hidden;
}




.Grid-Container-Three img {
    margin-top: 40px;
    margin-left: 50px;
    max-width: 120px;
    background: none;
    overflow: hidden;
}


.Grid-Container-Three div {
    color:var(--white)
}



.google-name {
    margin-top: -110px;
    margin-left: 210px;
    color:var(--white);
    font-weight: bold;
}



.google-name h3 {
    font-size: 2rem;
}


.google-name-text {
    font-size: 2rem;
    color:var(--white);
    font-weight: bold;
}



.google-symbol-wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    margin-top: -60px;
    margin-left: 205px;
    border: 1px solid lightgrey;
    border-radius: 7px;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    max-width: 160px;
}



.google-symbol-wrapper p {
    margin:0px 7px;
    text-align: center;
}


.google-text-border {
    color:lightgrey;
    height: 13px;
    width: 3px;
    border:2px solid lightgrey
}



.google-text-border {
    color:lightgrey;
    height: 13px;
    width: 3px;
    border:2px solid lightgrey
}


.google-stock-price {
    display: flex;
    align-items:center;
    justify-content: center;
    gap:10px;
    margin-top: 0px;
    margin-left: 160px;
}



.google-stock-price-text {
    color:var(--white);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
  
}




.google-stock-price-currency {
    color:whitesmoke;
    font-weight: none;
    font-family: Arial, Helvetica, sans-serif;
  
}


.google-stock-range {
    position: absolute;
    top:1836px;
    left: 340px;
    font-size: 1.2rem;
 }
 
 
 
 .google-stock-range-text {
     color:lightgreen;
     font-weight: 500;
     font-family: Arial, Helvetica, sans-serif;
     
 }



 .Google-Grid-Container-Content {
    background-color: whitesmoke;
    overflow: hidden;
    height: 420px;
    border-radius:10px;
    max-width: 80%;
}



.Google-Grid-Container-Content .google-about-header {
    margin-top: 30px;
    margin-left: 30px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 1.5rem;

}




.google-grid-content-wrapper {
    display: grid;
    grid-template-columns: 145px 145px 145px 145px 145px;
    max-width: 900px;
    align-content:baseline;
    justify-content: space-evenly;
    margin-block: 30px;
    margin-left: 20px;
}





.google-grid-content-wrapper .google-ceo,
.google-grid-content-wrapper .google-sector,
.google-grid-content-wrapper .google-industry,
.google-grid-content-wrapper .google-website,
.google-grid-content-wrapper .google-exchange{
    font-weight: 500;
    color:black;
    font-weight: bold;
}


.google-grid-content-wrapper .google-ceo-text,
.google-grid-content-wrapper .google-sector-text,
.google-grid-content-wrapper .google-industry-text,
.google-grid-content-wrapper .google-website-text,
.google-grid-content-wrapper .google-exchange-text{
    font-weight: 500;
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 400;
    font-style: normal;
    
}



.google-description:not(.google-description-text) {
    color:var(--black);
    font-weight: bold;
    margin-left: 18px;
    
}



p.google-description-text  {
    max-width: 850px;
    font-size: 0.9rem;
    font-family: 'Times New Roman', Times, serif;
    color:slategray
    
}



.Google-Right-Side-Wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content:center;
    justify-content: center;
    gap:10px;
    height: 200px;
    max-width: 390px;
    margin-left: 900px;
    margin-top: -270px;
    overflow: hidden;


}



.Google-Right-Side-Wrapper .Google-CIK,
.Google-Right-Side-Wrapper .Google-ISIN,
.Google-Right-Side-Wrapper .Google-CUSIP,
.Google-Right-Side-Wrapper .Google-Address,
.Google-Right-Side-Wrapper .Google-Phone,
.Google-Right-Side-Wrapper .Google-Country,
.Google-Right-Side-Wrapper .Google-Employee,
.Google-Right-Side-Wrapper .Google-IPO-DATE 
{
    color:var(--black);
    font-weight: bold;
}



.Google-Right-Side-Wrapper p {
    color:slategray;
    font-weight: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}




.Google-News-Container {
    width: 20%;
    overflow: hidden;
    margin:0 auto;
}


.Google-News-Wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content:center;
    justify-content: center;
    gap:15px;
    position: absolute;
    top:1990px;
    right:30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:red;
    text-align: center;
    animation-name: googleNews;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes googleNews {
    from {top:1990px}
    to {top: 2010px}
}

.Google-News-Wrapper > div {
    text-align: right;
    background-color:whitesmoke;
    border-radius:10px;
    height: 110px;
    font-size: 0.89rem;
    font-family: Arial, Helvetica, sans-serif;
    color:black
}

.google-news-section {
    width: 245px;
}

.google-news-section .google-title {
    font-size: 0.8rem;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    text-align: center;
    color:dodgerblue;
    text-decoration: underline;
}

.google-news-section .google-title-two {
    font-size: 0.7rem;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    text-align: center;
    color:dodgerblue;
    text-decoration: underline;
}


.google-news-section .google-title-three {
    font-size: 0.8rem;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    text-align: center;
    color:dodgerblue;
    text-decoration: underline;
    
    
}





.google-news-section .google-news-link {
    margin-top:-90px;
    margin-left: 110px;
    text-align: center;
    font-size: 0.8rem;
    font-family: "Aref Ruqaa Ink", serif;
    color:var(--grey);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.google-news-section  .google-news-link-two {
    margin-top:90px;
    margin-left: 110px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Aref Ruqaa Ink", serif;
    color:var(--grey);
    text-decoration: none;
    cursor: pointer;
}

.google-news-section  .google-news-link-three {
    margin-top:110px;
    margin-left: 110px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Aref Ruqaa Ink", serif;
    color:var(--grey);
    text-decoration: none;
    cursor: pointer;
}



.google-site-name {
    text-align: center;
    margin-top: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color:purple;
    font-weight: bold;
}


.google-site-name-two {
    text-align: center;
    margin-top: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color:coral;
    font-weight: bold;
}


.google-site-name-three {
    text-align: center;
    margin-top: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color:skyblue;
    font-weight: bold;
    cursor:none;
}













/*----------------------------------------META CONTENT--------------------------------------------------------*/


.Grid-Container-Four {
    display: grid;
    align-content: start;
    justify-content:start;
    width: 100%;
    height: 280px;
    background-color: var(--white);
    margin-block: 45px;
    overflow: hidden;
}



.Grid-Container-Four img {
    margin-top: 40px;
    margin-left: 50px;
    max-width: 120px;
    background: none;
    overflow: hidden;
}


.Grid-Container-Four div {
    color:var(--black)
}



.meta-name {
    margin-top: -110px;
    margin-left: 210px;
    color:var(--white);
    font-weight: bold;
}


.meta-name h3 {
    font-size: 2rem;
}


.meta-name-text {
    font-size: 2rem;
    color:var(--black);
    font-weight: bold;
}



.meta-symbol-wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    margin-top: -60px;
    margin-left: 205px;
    border: 1px solid lightgrey;
    border-radius: 7px;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    max-width: 160px;
}


.meta-symbol-wrapper p {
    margin:0px 7px;
    text-align: center;
}


.meta-text-border {
    color:lightgrey;
    height: 13px;
    width: 3px;
    border:2px solid lightgrey
}



.meta-text-border {
    color:lightgrey;
    height: 13px;
    width: 3px;
    border:2px solid lightgrey
}


.meta-stock-price {
    display: flex;
    align-items:center;
    justify-content: center;
    gap:10px;
    margin-top: 0px;
    margin-left: 70px;
}



.meta-stock-price-text {
    color:var(--black);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
  
}




.meta-stock-price-currency {
    color:var(--black);
    font-weight: none;
    font-family: Arial, Helvetica, sans-serif;
  
}


.meta-stock-range {
    position: absolute;
    top:2625px;
    left: 350px;
    font-size: 1.2rem;
 }
 
 
 
 .meta-stock-range-text {
     color:lightgreen;
     font-weight: 500;
     font-family: Arial, Helvetica, sans-serif;
     
 }



 .Meta-Grid-Container-Content {
    background-color: whitesmoke;
    overflow: hidden;
    height: 420px;
    border-radius:10px;
    max-width: 80%;
}



.Meta-Grid-Container-Content .meta-about-header {
    margin-top: 45px;
    margin-left: 30px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 1.5rem;

}




.meta-grid-content-wrapper {
    display: grid;
    grid-template-columns: 145px 145px 145px 145px 145px;
    max-width: 900px;
    align-content:baseline;
    justify-content: space-evenly;
    margin-block: 30px;
    margin-left: 20px;
}



.meta-grid-content-wrapper .meta-ceo,
.meta-grid-content-wrapper .meta-sector,
.meta-grid-content-wrapper .meta-industry,
.meta-grid-content-wrapper .meta-website,
.meta-grid-content-wrapper .meta-exchange{
    font-weight: 500;
    color:black;
    font-weight: bold;
}


.meta-grid-content-wrapper .meta-ceo-text,
.meta-grid-content-wrapper .meta-sector-text,
.meta-grid-content-wrapper .meta-industry-text,
.meta-grid-content-wrapper .meta-website-text,
.meta-grid-content-wrapper .meta-exchange-text{
    font-weight: 500;
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 400;
    font-style: normal;
    
}



.meta-description:not(.meta-description-text) {
    color:var(--black);
    font-weight: bold;
    margin-left: 18px;
    
}



p.meta-description-text  {
    max-width: 850px;
    font-size: 0.9rem;
    font-family: 'Times New Roman', Times, serif;
    color:grey
    
}



.Meta-Right-Side-Wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content:center;
    justify-content: center;
    gap:10px;
    height: 200px;
    max-width: 430px;
    margin-left: 900px;
    margin-top: -310px;
    overflow: hidden;
    
}



.Meta-Right-Side-Wrapper .Meta-CIK,
.Meta-Right-Side-Wrapper .Meta-ISIN,
.Meta-Right-Side-Wrapper .Meta-CUSIP,
.Meta-Right-Side-Wrapper .Meta-Address,
.Meta-Right-Side-Wrapper .Meta-Phone,
.Meta-Right-Side-Wrapper .Meta-Country,
.Meta-Right-Side-Wrapper .Meta-Employee,
.Meta-Right-Side-Wrapper .Meta-IPO-DATE 
{
    color:var(--black);
    font-weight: bold;
}



.Meta-Right-Side-Wrapper p {
    color:slategray;
    font-weight: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}






.Meta-News-Container {
    width: 20%;
    overflow: hidden;
    margin:0 auto;
}


.Meta-News-Wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content:center;
    justify-content: center;
    gap:15px;
    position: absolute;
    top:2760px;
    right:30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:blue;
    text-align: center;
    animation-name: metaNews;
    animation-duration: 1.4s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes metaNews {
    from {top:2760px}
    to {top: 2770px}
}




.Meta-News-Wrapper > div {
    text-align: right;
    background-color:whitesmoke;
    border-radius:10px;
    height: 110px;
    font-size: 0.89rem;
    font-family: Arial, Helvetica, sans-serif;
    color:black
}

.meta-news-section {
    width: 245px;
}

.meta-news-section .meta-title {
    font-size: 0.8rem;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    text-align: center;
    color:dodgerblue;
    text-decoration: underline;
}

.meta-news-section .meta-title-two {
    font-size: 0.7rem;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    text-align: center;
    color:dodgerblue;
    text-decoration: underline;
}


.meta-news-section .meta-title-three {
    font-size: 0.8rem;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    text-align: center;
    color:dodgerblue;
    text-decoration: underline;
    
    
}





.meta-news-section .meta-news-link {
    margin-top:-90px;
    margin-left: 110px;
    text-align: center;
    font-size: 0.8rem;
    font-family: "Aref Ruqaa Ink", serif;
    color:var(--grey);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.meta-news-section  .meta-news-link-two {
    margin-top:90px;
    margin-left: 110px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Aref Ruqaa Ink", serif;
    color:var(--grey);
    text-decoration: none;
    cursor: pointer;
}

.meta-news-section  .meta-news-link-three {
    margin-top:110px;
    margin-left: 110px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Aref Ruqaa Ink", serif;
    color:var(--grey);
    text-decoration: none;
    cursor: pointer;
}



.meta-site-name {
    text-align: center;
    margin-top: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color:orange;
    font-weight: bold;
}


.meta-site-name-two {
    text-align: center;
    margin-top: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color:skyblue;
    font-weight: bold;
}


.meta-site-name-three {
    text-align: center;
    margin-top: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color:green;
    font-weight: bold;
    cursor:none;
}














/*-------------------LAPTOP SCREEN SIZE  769pX - 1024PX --------------------------*/

@media screen and (max-width:1100px) {


    

    .content-nav img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

.Grid-Container img {
    margin-top: 40px;
    margin-left: 50px;
    max-width: 110px;
    background: none;
    overflow: hidden;
}

.Grid-Container div {
    color:var(--white)
}



.stock-name {
    margin-top: -110px;
    margin-left: 210px;
    color:var(--white);
    font-weight: bold;
}


.stock-name-text {
    font-size: 1.5rem;
    color:var(--white);
    font-weight: bold;
    text-decoration: none;
}

.stock-symbol-wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    margin-top: -75px;
    margin-left: 205px;
    border: 1px solid lightgrey;
    border-radius: 7px;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    max-width: 260px;
}


.stock-symbol-wrapper p {
    margin:0px 7px;
    text-align: center;
   
}

.text-border {
    color:white;;
    height: 13px;
    width: 3px;
    border:2px solid lightgrey
}


.stock-price {
    display: flex;
    align-items:center;
    justify-content: center;
    gap:10px;
    margin-top: -20px;
    margin-left: 200px;
}


.stock-price-text {
    color:var(--white);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}


.stock-range {
    position: absolute;
    top:250px;
    left: 330px;
    font-size: 1.2rem;
 }


.Grid-Container-Content {
    background-color: whitesmoke;
    overflow: hidden;
    height: 730px;
    border-radius:10px;
    max-width: 100%;
}





.grid-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content:start;
    justify-content: space-evenly;
    margin-block: 30px;
    margin-left: 50px;
    gap:30px
}


.Grid-Container-Content .description {
    margin-left: 50px;
}



.Right-Side-Wrapper {
    display:none

}

.Apple-News-Container {
    display: none;
}









.Grid-Container-Two {
    margin-block: 90px;
}


.amazon-name {
    margin-top: -140px;
    font-size: 1.5rem;

}

.amazon-symbol-wrapper {
    margin-top: -95px;
}

 .amazon-name-text {
    font-size: 1.5rem;
}

.amazon-stock-price {
    margin-left: 205px;
    margin-top: -30px;
    font-size: 1.3rem;
}

.amazon-stock-price-currency {
    font-size: 1rem;
    margin-left: -10px;
}


.amazon-stock-range {
    position: absolute;
    top:1390px;
    right: 90px
}








.Amazon-Grid-Container-Content {
    background-color: whitesmoke;
    overflow: hidden;
    height: 730px;
    border-radius:10px;
    max-width: 100%;
}

.amazon-grid-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content:start;
    justify-content: space-evenly;
    margin-block: 30px;
    margin-left: 50px;
    gap:30px
}

.Amazon-Right-Side-Wrapper {
    display: none;
}


.Amazon-Grid-Container-Content .amazon-description {
    margin-left: 50px;
}


.Amazon-News-Container {
    display: none;
}


.Google-News-Container {
    display: none;
}


.Meta-News-Container {
    display: none;
}





.Grid-Container-Three .google-name {
    font-size: 1rem

}

.Google-Grid-Container-Content {
    background-color: whitesmoke;
    overflow: hidden;
    height: 630px;
    border-radius:10px;
    max-width: 100%;
}


.google-grid-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content:start;
    justify-content: space-evenly;
    margin-block: 30px;
    margin-left: 50px;
    gap:30px
}


.Google-Right-Side-Wrapper {
    display: none;
}

.Google-Grid-Container-Content .google-description {
    margin-left: 50px;
}


.google-stock-range {
    position: absolute;
    top:2537px;
    left: 310px;
    font-size: 1.1rem;
}
 
 

.meta-stock-price {
    margin-left: 170px;
}

.meta-stock-range {
    position: absolute;
    top:3535px;
    left: 310px;
}

.Meta-Grid-Container-Content {
        background-color: whitesmoke;
        overflow: hidden;
        height: 620px;
        border-radius:10px;
        max-width: 100%;
    }


.Meta-Grid-Container-Content .meta-description {
    margin-left: 50px;
}




.Meta-Right-Side-Wrapper {
    display: none;
}

.meta-grid-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content:start;
    justify-content: space-evenly;
    margin-block: 30px;
    margin-left: 50px;
    gap:30px
}

}









/*-------------------TABLETS SCREEN SIZE  481PX - 768PX --------------------------*/

@media screen and (max-width: 768px) {

    .content-nav button {
        font-size: var(--fontSizeTwo)
    }

    .content-nav img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

.Grid-Container img {
    margin-top: 40px;
    margin-left: 50px;
    max-width: 110px;
    background: none;
    overflow: hidden;
}

.Grid-Container div {
    color:var(--white)
}



.stock-name {
    margin-top: -110px;
    margin-left: 210px;
    color:var(--white);
    font-weight: bold;
}


.stock-name-text {
    font-size: 1.5rem;
    color:var(--white);
    font-weight: bold;
    text-decoration: none;
}

.stock-symbol-wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    margin-top: -75px;
    margin-left: 205px;
    border: 1px solid lightgrey;
    border-radius: 7px;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    max-width: 260px;
}


.stock-symbol-wrapper p {
    margin:0px 7px;
    text-align: center;
   
}

.text-border {
    color:white;;
    height: 13px;
    width: 3px;
    border:2px solid lightgrey
}


.stock-price {
    display: flex;
    align-items:center;
    justify-content: center;
    gap:10px;
    margin-top: -20px;
    margin-left: 200px;
}


.stock-price-text {
    color:var(--white);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}


.stock-range {
    position: absolute;
    top:250px;
    left: 330px;
    font-size: 1.2rem;
 }


.Grid-Container-Content {
    background-color: whitesmoke;
    overflow: hidden;
    height: 730px;
    border-radius:10px;
    max-width: 100%;
}





.grid-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content:start;
    justify-content: space-evenly;
    margin-block: 30px;
    margin-left: 50px;
    gap:30px
}


.Grid-Container-Content .description {
    margin-left: 50px;
}



.Right-Side-Wrapper {
    display:none

}

.Apple-News-Container {
    display: none;
}









.Grid-Container-Two {
    margin-block: 90px;
}


.amazon-name {
    margin-top: -140px;
    font-size: 1.5rem;

}

.amazon-symbol-wrapper {
    margin-top: -95px;
}

 .amazon-name-text {
    font-size: 1.5rem;
}

.amazon-stock-price {
    margin-left: 205px;
    margin-top: -30px;
    font-size: 1.3rem;
}

.amazon-stock-price-currency {
    font-size: 1rem;
    margin-left: -10px;
}


.amazon-stock-range {
    position: absolute;
    top:1390px;
    right: 90px
}








.Amazon-Grid-Container-Content {
    background-color: whitesmoke;
    overflow: hidden;
    height: 730px;
    border-radius:10px;
    max-width: 100%;
}

.amazon-grid-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content:start;
    justify-content: space-evenly;
    margin-block: 30px;
    margin-left: 50px;
    gap:30px
}

.Amazon-Right-Side-Wrapper {
    display: none;
}


.Amazon-Grid-Container-Content .amazon-description {
    margin-left: 50px;
}


.Amazon-News-Container {
    display: none;
}


.Google-News-Container {
    display: none;
}


.Meta-News-Container {
    display: none;
}





.Grid-Container-Three .google-name {
    font-size: 1rem

}

.Google-Grid-Container-Content {
    background-color: whitesmoke;
    overflow: hidden;
    height: 630px;
    border-radius:10px;
    max-width: 100%;
}


.google-grid-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content:start;
    justify-content: space-evenly;
    margin-block: 30px;
    margin-left: 50px;
    gap:30px
}


.Google-Right-Side-Wrapper {
    display: none;
}

.Google-Grid-Container-Content .google-description {
    margin-left: 50px;
}


.google-stock-range {
    position: absolute;
    top:2537px;
    left: 310px;
    font-size: 1.1rem;
}
 
 

.meta-stock-price {
    margin-left: 170px;
}

.meta-stock-range {
    position: absolute;
    top:3535px;
    left: 310px;
}

.Meta-Grid-Container-Content {
        background-color: whitesmoke;
        overflow: hidden;
        height: 620px;
        border-radius:10px;
        max-width: 100%;
    }


.Meta-Grid-Container-Content .meta-description {
    margin-left: 50px;
}




.Meta-Right-Side-Wrapper {
    display: none;
}

.meta-grid-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content:start;
    justify-content: space-evenly;
    margin-block: 30px;
    margin-left: 50px;
    gap:30px
}

}









/*-------------------MOBILE SCREEN SIZE  320PX - 480PX --------------------------*/
@media screen and (min-width: 320px) and (max-width: 480px)  {

    .top-content {
        font-size: 0.8rem;
        margin-block: 20px;
    }
    
    .top-content img {
        object-fit: contain;
        height: 50px;
        margin:0px 15px
    }
    
    
    .top-content h1 {
        font-family: "Aref Ruqaa Ink", serif;
        font-weight: 400;
        font-style: normal;
    }

    .content-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        gap:23px;
        margin-block: 30px;
     
    }

    .content-nav button {
        border:none;
        outline:none;
        background: none;
        font-size: 1.3rem;
        cursor: pointer;
        
    }
    
    
    
    .Grid-Container {
        margin-block: 50px;
    }
    
    .Grid-Container .stock-name-text {
        font-size: 1.2rem;
    }
    
    
    .Grid-Container .stock-price-text {
        font-size: 1.1rem;
    }

    .Grid-Container-Content {
        height: 770px;
    }

   .Grid-Container-Content .description-text {
        font-size: 0.73rem;
        font-family: 'Times New Roman', Times, serif;
        color:black;
        
    }

    .Grid-Container-Content .about-header,
    .Amazon-Grid-Container-Content .amazon-about-header,
    .Google-Grid-Container-Content .google-about-header,
    .Meta-Grid-Container-Content .meta-about-header
     {
        font-size: 0.9rem;
    }
    

    .Grid-Container .stock-name-text {
        font-size: 1.4rem;
    }
    
    .stock-range {
        position: absolute;
        top:514px;
        left: 315px;
        font-size: 1rem;
    }
    
    
    
     .Grid-Container-Two .amazon-name-text {
        font-size: 1.3rem;
    }

    .amazon-symbol-wrapper {
        width: 130px;
    }
    
  
    
    .amazon-stock-price {
        font-size: 0.9rem;
        margin-top: -50px;
        margin-left: 205px;
       
    }
    
    .amazon-stock-price-currency {
        margin-left: 0px;
        width: 110px;
    }
    
    .amazon-stock-range {
        position: absolute;
        top:1727px;
        left: 310px;
        font-size: 1rem;
    }

    .Amazon-Grid-Container-Content {
        height: 720px;
    }
    
   
    .Amazon-Grid-Container-Content .amazon-description-text {
        font-size: 0.73rem;
        font-family: 'Times New Roman', Times, serif;
        color:black;
    }



    
    
    .Grid-Container-Three .google-name-text {
        font-size: 1.3rem;
    }
    
    .Grid-Container-Three .google-stock-price-text {
        font-size: 1.2rem;
    }
    
    .google-symbol-wrapper {
        font-size: 0.6rem;
        margin-top: -70px;
    
    }
    
    
    .google-stock-price{
        margin-left: 190px;
        margin-top: -20px;
    
    }
    
    .google-stock-range {
        position: absolute;
        top:2850px;
        left: 320px;
        font-size: 1rem;
    }
    
    


    .Google-Grid-Container-Content {
        height: 690px;
    }

    .Google-Grid-Container-Content .google-description-text {
        font-size: 0.73rem;
        font-family: 'Times New Roman', Times, serif;
        color:black;
    }




    .Grid-Container-Four .meta-name-text {
        font-size: 1.3rem;
    }
    
    .Grid-Container-Four .meta-stock-price-text {
        font-size: 1.2rem;
    }
    
    .meta-symbol-wrapper {
        font-size: 0.6rem;
        margin-top: -70px;
    
    }
    
    
    .meta-stock-price {
       margin-top: -15px;
       
    
    }
    
    .meta-stock-range {
        position: absolute;
        top:3915px;
        left: 340px;
        font-size: 1rem;
    }
    

    .Meta-Grid-Container-Content {
        height: 751px;
    }
    
    .Meta-Grid-Container-Content .meta-description-text {
        font-size: 0.73rem;
        font-family: 'Times New Roman', Times, serif;
        color:black;
    }
    
    
    


}




